[parameters]
module = utils/immerseuk/gtr/gtr_extrainfo.py
src = http://gtr.rcuk.ac.uk/organisation
table_name = gtr_extrainfo
input_db = tier-0.cnf
input_table = gtr_organisations
output_db = tier-1.cnf
description = Enriched Gateway to Research information, which links to gtr_organisations in order to provide sector (e.g. private/charity/etc) and standardised name