[parameters]
module = utils/immerseuk/gtr/gtr_extrainfo_awsreduce.py
src = tier-0 (s3-bucket)
table_name = gtr_orgs_by_project_from_web
input_db = 
description = Gateway to research from website: every matching project and organisation, containing department and sector information.
output_db = tier-0.cnf