[parameters]
module = utils/meetup/country_groups.py
country = United Kingdom
category = 2
src = https://api.meetup.com/2/groups
table_name = meetup_groups
description = Meetup group information from Creative Nation
output_db = tier-0.cnf
input_db = 
desired_keys = [('category', 'name'), ('category', 'shortname'),
                ('category', 'id'), 'description', 'created',
		'country', 'city', 'id', 'lat', 'lon',
		'members', 'name', 'topics']
