[parameters]
module = utils/uae/business_directory/adcc.py
src = http://online.abudhabichamber.ae/aspApp2012/online_information/adcd/majorcat_list_companies.asp?catCode=20&listType=2
table_name = adcc_business_directory
input_db = 
description = A list of business names and websites (where available), collected from the Abu Dhabi Chamber of Commerce web page
output_db = tier-0.cnf