[parameters]
module = utils/uae/courses/gen_courses_in_uae.py
src = wiki_quals,course_urls (tier-0)
input_db = tier-0.cnf
external_db = MarkovChainWebScrape.cnf
output_db = tier-1.cnf
table_name = courses_in_uae
input_table = wiki_quals
input_table_urls = all_university_urls
input_table_ucas = ucas_courses
input_table_selenium = selenium_urls
description = A list of standardised course names extracted from UAE university sites
