[parameters]
module = utils/uae/courses/prepare_final_data.py
src = courses_in_uae,wiki_quals
quals_db = tier-0.cnf
input_db = tier-1.cnf
output_db = tier-2_relational.cnf
table_name = courses_in_uae
input_table = courses_in_uae
input_table_quals = wiki_quals
description = A list of standardised course names extracted from UAE university sites
