[parameters]
module = utils/uae/courses/get_ucas_courses.py
src = https://digital.ucas.com/search/results?SearchText=&AutoSuggestType=&SearchType=&PreviouslyAppliedFilters=D_0_Undergraduate__D_1_Postgraduate__&filters=Destination_Undergraduate&filters=Destination_Postgraduate&ProviderText=&SubjectText=&DistanceFromPostcode=1mi&RegionDistancePostcode=&SortOrder=0&CurrentView=List&pageNumber=1
table_name = ucas_courses
input_db = 
description = Undergraduate subject list from UCAS
output_db = tier-0.cnf

