[parameters]
module = utils/uae/courses/get_wiki_quals.py
src = https://en.wikipedia.org/wiki/Category:Bachelor%%27s_degrees,https://en.wikipedia.org/wiki/List_of_master%%27s_degrees,https://en.wikipedia.org/wiki/Category:Doctoral_degrees
table_name = wiki_quals
input_db = 
description = List of qualifications and acronyms from wikipedia
output_db = tier-0.cnf