[parameters]
module = utils/creative_nation/meetup/meetup_group_collection.py
src = /Users/jklinger/Nesta/adhoc_data/users_information.csv
#src = creative_nation_meetup_members
table_name = creative_nation_meetup_groups
description = Meetup group information from Creative Nation
output_db = tier-0.cnf
desired_keys = [('category', 'name'), ('category', 'shortname'),
                 'description', 'created', 'country', 'city', 'id',
                 'lat', 'lon', 'members', 'name', 'topics']
		 
